body {
  font-family: 'Oxygen', sans-serif;
  color: #555555;
  background: #eeeeee url('img/ticks.png') repeat;
}

a {
  color: #4FB69F;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
  line-height: 15px
}

h2 {
  font-size: 1.500em;
  color: #73AC1D;
}

.btn {
  color: #FAF3BC;
  background: #4FB69F url('img/texture.png') no-repeat right top;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #4CC4A7;
}

ul.nav {
  margin: 120px 0 0 0;
  list-style: none;
  float: right;
}

ul.nav li {
  float: left;
  margin-right: 40px;
}

ul.nav li a {
  color: #73AC1D;
}

#copyright {
  border-top: 8px solid #d3d3d3;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}

.bordered-image {
  border: 8px solid #d3d3d3;
}

#self-portrait {
  background-image: url('img/self.jpg');
  width: 960px;
  height: 340px;
}

.grid_12 {
  text-align: center;
  margin: 25px 0;
}

.grid_12 p {
  font-size: 1.2em;
  line-height: 2em;
}








